*.DS_Store
*.vscode

venv/
__pycache__/

dataset/
library-db/library_data/
library-db/seed_data/*.csv
minio/data

airflow/logs
airflow/plugins
airflow/airflow.cfg
airflow/airflow.db
airflow/webserver_config.py

clickhouse/data
